.data-box {
    height: 10rem;
    
    display: flex;
    flex-direction: column;

    justify-content: space-between;;

    padding: 1rem;

    border-radius: 8px;
    border: 1px solid #d8d8d8;
}

.data-box h1 {
    font-weight: 500;
    font-size: 1.4rem;
}

.data-box span {
    font-size: 2rem;

    font-weight: 700;
}