.select-box {
    border-radius: 8px;

    border: 1px solid #BFBFBF;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem .5rem;

    text-align: center;

    cursor: pointer;

    transition: .4s;
}
.select-box:hover {
    transform: scale(1.02);
    border: 1px solid var(--cor-titulo-verde);
    background-color: #C8FFE2;
    ;
}
.select-box img {
    width: 30px;
    margin-right: .8rem;
}
.select-box span {
    font-weight: 500;
    font-size: .9rem;

    color: var(--cor-titulo-verde);
}